@model LoginUser


<form asp-action="LoggingIn" asp-controller="Admin" class="mx-auto w-50 mt-5 ">
    <h3 class="mb-4">Log In</h3>
    <div class="form-group">
        <label asp-for="LoginName"></label>
        <div>       @* div keeps validation msg on a separate line *@
        <span asp-validation-for="LoginName" class="text-danger font-weight-bold"></span>
        </div>      @* div keeps validation msg on a separate line *@
        <input asp-for="LoginName" class="form-control" value="Employee">
    </div>

    <div class="form-group">
        <label asp-for="LoginPassword"></label>
        <div>
        <span asp-validation-for="LoginPassword" class="text-danger font-weight-bold"></span>
        </div>
        <input asp-for="LoginPassword" class="form-control" value="12345678">
    </div>

    <button type="submit" class="btn btn-outline-warning mt-3">Log In</button>
    <div class="mt-2">
        <a asp-controller="Admin" asp-action="Register" >New? Register</a>
    </div>
</form>


