@model LoginUser

<div class="col mx-auto w-50">
    <table class="table table-stripped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LoginName</td>
            </tr>
        </tbody>
    </table>
</div>